* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
}

/* NAV BAR */

.navbar {
  height: 77px;
  width: 100%;
  background-color: rgba(49, 97, 72, 0.79);
}
.nav-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.nav-icon {
  margin-top: 5px;
  padding-left: 10px;
}
.nav-icon img {
  width: 55px;
}
.nav-search {
  padding-right: 20px;
  width: 210px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-search img {
  width: 40px;
  margin-top: 7px;
}
.nav-search a {
  font-size: 0.9rem;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: black;
}
.nav-search ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  gap: 30px;
}

/* BODY */

#body {
  height: 100vh;
  background-image: url("./img/image 1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.body-container {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.body-container p {
  font-size: 2.3rem;
  color: rgba(29, 54, 41, 1);
}
.body-container button {
  font-weight: 500;
  height: 40px;
  width: 150px;
  background-color: rgba(93, 130, 111, 1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* EVENTS */
.user-info {
  width: 460px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-info img {
  width: 180px;
}
.user-info p {
  font-size: 0.9rem;
  font-weight: 500;
}
.event-info p {
  font-size: 1.2rem;
  font-weight: 450;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.event-box {
  height: 145px;
  width: 457px;
  background-color: rgba(93, 130, 111, 1);
  border-radius: 5px;
  padding: 10px;
  margin-top: 50px;
}
.event-head {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.event-head h4 {
  font-weight: 400;
  font-size: 1rem;
}
.event-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.event-description p {
  font-size: 0.6rem;
  font-weight: 350;
  color: black;
}
.event-description h5 {
  font-size: 0.65rem;
  font-weight: 400;
}
.event-description img {
  width: 80px;
}
.event-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.event-footer-span {
  display: flex;
  align-items: center;
  gap: 10px;
}
.event-footer img {
  width: 20px;
}
.event-footer-span p,
h6 {
  font-size: 0.5rem;
  color: black;
}
.event-footer-span span {
  display: flex;
  flex-direction: column;
}
.event-footer button {
  background-color: rgba(35, 65, 50, 1);
  width: 80px;
  font-size: 0.6rem;
  height: 25px;
  border-radius: 10px;
  margin-top: 0;
}
